<section class="row">
  <div class="eight columns" id="welcome">
    <h1>Welcome to devBookClub</h1>
    <h3 class="subheader">devBookClub allows people to discuss books together as they read them.</h3>
    <p>This is a work-in-progress open-source project.</p>
    <p>Check out the <strong><%= link_to "progress of upcoming features", "https://trello.com/board/devbookclub/50ad5eefea61c69824000859", :target => "blank" %></strong>.</p>
    <p><strong>If you'd like to contribute, check it out on <%= link_to "Github", "https://github.com/ascot21/devbookclub", :target => "blank" %>, and follow the contribution instructions.</strong></p>
  </div>
  <div class="four columns">
    <h3>Recent Books</h3>
    <ul class="block-grid two-up">
      <%= render @recent_books%>
    </ul>
  </div>
</section>