<section class="row">
  <div class="eight columns" id="welcome">
    <h1>Welcome</h1>
    <p>This is a work-in-progress app that allows people to discuss books together as they read them.</p>
  </div>
  <div class="four columns">
    <h3>Recent Books</h3>
  </div>
</section>