<li class="booklist">
  <div class="img-wrap">
    <%= link_to image_tag(book.coverimage.url(:medium)), book, :class => "bookimg animated fadeInUp" %>
    <div class="img-overlay">
      <span><%= book.title %></span>
    </div>
  </div>
</li>