<li class="booklist">
  <div class="img-wrap">
    <%= link_to image_tag("book_placeholder.jpg"), book, :class => "bookimg" %>
    <div class="img-overlay">
      <span><%= book.title %></span>
    </div>
  </div>
</li>