// Colors
$mainColor:#2ba6cb;

body {
  display:block;
  margin-top: 20px;
  background: rgb(40,52,59); /* Old browsers */
  #wrapper{
    background:white;
    -webkit-box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, .5);
    box-shadow:  0px 0px 5px 5px rgba(0, 0, 0, .5);}
}

header {
  background:$mainColor;
  border-bottom:2px solid #7edefc;
  a {color:white;}
}

