// Colors
$mainColor:#2ba6cb;

body {
  display:block;
  margin-top: 20px;
  background: rgb(40,52,59); /* Old browsers */
  #main{
    background:white;
    padding-top:20px;
  }
}

header {
  background:$mainColor;
  border-bottom:1px solid #7edefc;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  a {color:white;}
}
#main {
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.nav-bar {margin:0;}
