// Colors
$mainColor:#2ba6cb;

#ui-datepicker-div {display:none;}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

body {
  display:block;
  margin-top: 20px;
  background: rgb(40,52,59); /* Old browsers */
  font-size:12px;
  p {font-size:12px;}
  #main{
    background:white;
    padding-top:20px;
  }
}

header {
  background:$mainColor;
  border-bottom:1px solid #7edefc;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  a {color:white;}
  h1 {margin-bottom:0px;}
}
#main {
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-bottom: 20px;
}
.top-bar {margin:0;background:#252525;}
.top-bar li {color:white;}

.booklist h6 {color:white;}
.img-wrap{
height:271px;
overflow:hidden;
position:relative;
width:195px;
}
.img-overlay{
background-color:#000;
bottom:0;
color:#fff;
opacity:0;
filter: alpha(opacity = 0);
position:absolute;
width:100%;
z-index:1000;
}
.img-overlay span {display: block;padding:8px;}

.img-wrap:hover .img-overlay{
opacity:0.75;
filter: alpha(opacity = 75);
transition:opacity 0.25s;
-moz-transition:opacity 0.25s;
-webkit-transition:opacity 0.25s;
}

.comment {
  display:block;
  .left {
    width:12%;
    float:left;
    padding-right:10px;
  }
  .right {
    width:88%;
    float:left;
  }
}

.gravatar {
  display:block;
  background:white;
  padding:3px;
  border:1px solid #e1e1e1;
  }
.comment, .box {
  .header {
    padding:5px;
    background: rgb(254,254,254); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(224,224,224,1) 50%, rgba(226,226,226,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(50%,rgba(224,224,224,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(224,224,224,1) 50%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(224,224,224,1) 50%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(224,224,224,1) 50%,rgba(226,226,226,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(224,224,224,1) 50%,rgba(226,226,226,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border:1px solid #BBB;
    border-bottom:none;
    .date {font-size:11px;}
  }

  .body {
    margin-bottom:15px;
    background:#f3f3f3;
    border:1px solid #BBB;
    padding:10px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.arrow_box {
  position: relative;
  background: #ebebeb;
  border: 1px solid #c7c7c7;
}
.arrow_box:after, .arrow_box:before {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(235, 235, 235, 0);
  border-left-color: #ebebeb;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.arrow_box:before {
  border-color: rgba(199, 199, 199, 0);
  border-left-color: #c7c7c7;
  border-width: 21px;
  top: 50%;
  margin-top: -21px;
}

.date {color:gray;}
