// Colors
$mainColor:#2ba6cb;

body {
  display:block;
  margin-top: 20px;
  background: rgb(40,52,59); /* Old browsers */
  #main{
    background:white;
    padding-top:20px;
  }
}

header {
  background:$mainColor;
  border-bottom:1px solid #7edefc;
  a {color:white;}
}

.nav-bar {margin:0;}
